name: Releases

on: 
  push:
    tags:
    - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: nhedger/package-vscode-extension@v1
    - uses: ncipollo/release-action@v1
      with:
        artifacts: ${{ steps.package.outputs.packagePath }}
